.width-control {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 40px;
}

.width-control > h1 {
    font-size: 52px;
    margin-bottom: 10px;
    text-decoration: underline;
}

body {
    text-align: center;
    color: #dcd8d7;
    background-color: #4f3e37;
}

footer {
    font-size: 12;
}

hr { 
    display: block;
    margin-top: 80px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

a {
    color: #dcd8d7;
    text-decoration: underline;
}

@font-face {
    font-family: "Vollkorn";
    font-weight: 100 900;
    font-style: normal;
    src: local("Vollkorn"), url("./fonts/Vollkorn-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 100 900;
    font-style: normal;
    src: local("Open Sans"), url("./fonts/open-sans-v35-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka Aile Iaso";
    font-weight: 100 900;
    font-style: normal;
    src: local("Iosevka Aile Iaso"), url("./fonts/iosevka-aile-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Fantasque Sans Mono";
    font-weight: 100 900;
    font-style: normal;
    src: local("Fantasque Sans Mono"), url("./fonts/FantasqueSansMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Lato";
    font-weight: 100 900;
    font-style: normal;
    src: local("Lato"), url("./fonts/lato-v24-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Kreon";
    font-weight: 100 900;
    font-style: normal;
    src: local("Kreon"), url("./fonts/kreon-v37-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: 'B612';
    font-style: normal;
    font-weight: 400;
    src: local("Kreon"), url("./fonts/b612-v12-latin-regular.woff2") format("woff2");
  }
  
